


<h4><%= @comment.content %> - <%= @comment.user.username%></h4>

<% if @comment.user == current_user %>
    <%= link_to "Edit Comment", edit_comment_path(@comment)%>
    <%= link_to "Delete Comment", comment_path(@comment), method: 'delete' %>
<% end %>

<h4>Read the story here: <%= link_to @comment.story.title, story_path(@comment.story_id) %></h4>