
<h1>Edit <%= @story.title%></h1>

<%= render partial: "layouts/errors", locals: {object: @story} %>


<%= form_for(@story) do |f|%>

    <%= f.label :title %>
    <%= f.text_field :title %>
    
    <%= f.label :content %>
    <%= f.text_field :content %>


    <%= f.submit %>

<% end %>


