<h1> All Stories </h1>

<% if @stories.blank? %>

    <h5>No stories yet... write one! <%= link_to "here", new_story_path%></h5>

<% else %>
    <%= render partial: "stories", locals: {stories: @stories} %>

<% end %>


<%= form_tag(stories_path, method:"get") do %>

<%= label_tag 'Search By Title:' %>
<%= search_field_tag 'title' %>
<%= submit_tag 'Submit' %>

<% end %>