<h1> New Story </h1>

<%= render partial: "layouts/errors", locals: {object: @story} %>

<%= form_for(@story) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br/>
    
    <%= f.label :content %>
    
    <%= f.text_field :content %>

    <%= f.submit %>

<% end %>


