<!DOCTYPE html>
<html>
  <head>
    <title>SpookyZone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div class="container">
  <ul class="nav nav-tabs">
    
    <div>
      <% if logged_in? %>
        <%= link_to "Write A Story", new_story_path %> |
        <%= link_to "All Stories", stories_path %> |
        <%= link_to "All Comments", comments_path %> |
        <%= link_to "Add a Comment", new_comment_path %> |
        <%= link_to "Home", user_path(current_user)%> |
        <%= link_to "Logout", logout_path, method:"delete"%>
    <% end %>
    </div>
      <% if flash[:message] %>
      <%= flash[:message]%>
      <% end %>
      <%= @error %>
    </div>

    <%= yield %>
    </div>
  </body>
</html>